@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700;900&display=swap');


body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  background-color: #eff0f4;
  font-family: 'Poppins', sans-serif;
}

.container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  
}
h2{
 color: #42445A
}

.drop {
  position: relative;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center ;
  width: 350px;
  height: 350px;
  padding: 20px;
  box-shadow: inset 
  20px 20px 20px rgba(0, 0, 0 ,0.05),
  25px 35px 20px rgba(0, 0, 0 ,0.05),
  25px 30px 30px rgba(0, 0, 0 ,0.05),
  inset
  -20px -20px 25px rgba(255, 255, 255, 0.9);
  border-radius: 52% 48% 40% 60% / 25% 39% 61% 75% ;
  transition: 0.5s;
}
.container .drop:hover{
  border-radius: 50% ;
}

.container .drop::before {
  content: '';
  position: absolute;
  top: 45px;
  left: 110px;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background: #FFF;
  opacity: 0.8;
}

.container .drop::after {
  content: '';
  position: absolute;
  top: 85px;
  left: 140px;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background: #FFF;
  opacity: 0.5;
}


.input {
  padding: 15px;
  margin-bottom: 10px;
  border: none;
  border-radius: 5px;
  color: #FFA31A;
  background: transparent;
  box-shadow: inset 
  10px 10px 15px rgba(0, 0, 0 ,0.08),
  15px 25px 10px rgba(0, 0, 0 ,0.05),
  55px 20px 20px rgba(0, 0, 0 ,0.05),
  inset
  -20px -20px 25px rgba(255, 255, 255, 0.9);
}


.input::placeholder{
  color : #ffa31a;
}


button {
  margin-top: 10px;
  padding: 16px;
  background: 
  rgba(255, 255, 255, 0.1);
  border: none;
  cursor: pointer;
}
p{
  text-align: center;
}
.SignUptxt{
  color: #FFA31A;
}
